.detailscontentskeleton {
    padding: 0 3rem 0 3rem;
  }
  
  @media screen and (max-width: 600px) {
    .detailscontentskeleton {
      padding: 1rem 0.5rem;
    }
  }
  
  .detailsskeleton {
    margin: 2rem 5rem 2rem 5rem;
    position: relative;
  }
  
  @media screen and (max-width: 600px) {
    .detailsskeleton {
      margin: 1rem 0.4rem;
    }
  }
  


  /* WatchPlayerSkeleton.css */

.playerwrapper {
  /* margin: 0.5rem 5rem 2rem 5rem; */
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  max-height: 700px;
}

.playerwrapper p {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  margin-bottom: 1rem;
}

.playerwrapper .playerepisodes-wrapper {
  margin-top: 1rem;
  border: 1px solid #272639;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0px 4.41109px 20.291px rgba(16, 16, 24, 0.81);
}

.playerwrapper .episodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-gap: 0.8rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .playerwrapper {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  .playerwrapper {
    margin: 1rem 0;
  }
}
.verticalcardskeleton{
  padding: 25px;
}